table,td,th,tr{
    border: 2px solid black;
    border-collapse:collapse ;
    align-items: center;
    background-color: aqua;
    
}
td{
    padding: 20px;
    align-items: center;
    justify-content: center;
}
